<div class="boot-container">
  <div class="center-content">
    <div class="logo-row">
      <div class="flag-container">
        <!-- Use local SVG asset -->
        <img src="assets/xp-logo.svg" class="xp-flag" alt="Windows XP Logo">
      </div>
      <div class="text-container">
        <div class="microsoft">Microsoft</div>
        <div class="windows-xp">
          <span class="win">Windows</span>
          <span class="xp">xp</span>
        </div>
        <div class="edition">Professional</div>
      </div>
    </div>
    
    <div class="loading-bar">
      <div class="progress-block delay-1"></div>
      <div class="progress-block delay-2"></div>
      <div class="progress-block delay-3"></div>
    </div>
  </div>
  
  <div class="copyright">
    Copyright © 1985-2001<br>
    Microsoft Corporation
  </div>
</div>

