<div class="boot-container">
  <div class="logo-container">
    <div class="windows-logo">
      <div class="red"></div>
      <div class="green"></div>
      <div class="blue"></div>
      <div class="yellow"></div>
    </div>
    <div class="text">Microsoft</div>
    <div class="xp-text">Windows<span>XP</span></div>
  </div>
  
  <div class="loading-bar">
    <div class="progress">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
  </div>
  
  <div class="copyright">Copyright © Microsoft Corporation</div>
</div>

