/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Tahoma', sans-serif;
  user-select: none;
  background-color: black;
}

* {
  box-sizing: border-box;
}

