<div class="login-container">
  <div class="top-bar"></div>
  <div class="bottom-bar"></div>
  
  <div class="content">
    <div class="left-panel">
      <div class="windows-logo">
        <div class="logo-graphic">
          <div class="red"></div>
          <div class="green"></div>
          <div class="blue"></div>
          <div class="yellow"></div>
        </div>
        <div class="text">
          <span class="microsoft">Microsoft</span>
          <span class="xp">Windows<span>XP</span></span>
        </div>
      </div>
      <div class="instruction">To begin, click your user name</div>
    </div>
    
    <div class="divider"></div>
    
    <div class="right-panel">
      <div class="user-card" (click)="login()">
        <div class="user-icon">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="User">
        </div>
        <div class="user-info">
          <div class="username">Administrator</div>
          <div class="status">Type your password</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="shutdown-btn">
    <div class="icon"></div>
    <span>Turn off computer</span>
  </div>
</div>

